<div class="prod-details container">
    <div class="row">
        <div class="col-md-6">
            <div class="main-image-container col-12 d-flex flex-row align-items-center">
                <button class="image-prev" (click)="moveToPreviousImage()">
                     <svg width="30" height="16">
                         <polygon points="0,0 30,0 16,16" />
                     </svg>
                     <span class="sr-only" data-i18n="previousImage"></span>
                </button>
                <img class="main-image" *ngIf="selectedImage" [src]="selectedImage" alt="{{product?.name}}" />
                <button class="image-next" (click)="moveToNextImage()">
                    <svg width="30" height="16">
                        <polygon points="0,0 30,0 16,16" />
                    </svg>
                    <span class="sr-only" data-i18n="nextImage"></span>
                </button>
            </div>
            <div class="image-list">
                <div class="d-flex flex-row justify-content-center flex-wrap">
                    <div *ngFor="let image of productImages"
                         class="select-image"
                         [class.is-selected]="image === selectedImage"
                         (click)="selectedImage = image">
                        <img *ngIf="image" [src]="image" alt="{{product?.name}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="prod-name">{{product?.name}}</h5>
            <label class="field-label" data-i18n="contract"></label>
            <div class="field-value">{{product?.contractNum}}</div>
            <div class="d-flex flex-row">
                <div class="field-section">
                    <label class="field-label" data-i18n="vendor"></label>
                    <div class="field-value">{{product?.contractor}}</div>
                    <label class="field-label" data-i18n="msrpPrice"></label>
                    <div class="field-value msrp">{{product?.msrp | currency:'USD':true}}</div>
                </div>
                <div class="field-section">
                    <label class="field-label" data-i18n="discountNumber"></label>
                    <div class="field-value">{{product?.discount}}</div>
                    <label class="field-label" data-i18n="contractUnitPrice"></label>
                    <div class="field-value">{{product?.unitPrice | currency:'USD':true}}</div>
                </div>
            </div>
            <div class="description">{{product?.description}}</div>
            <div class="actions">
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <input type="number" min="0" [(ngModel)]="quantity" class="quantity-input"/>
                        <div class="category">{{product?.category}}</div>
                    </div>
                    <button class="add align-self-start" data-i18n="addToCart" (click)="addToCart()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
