<content-header>
    <div class="content-header-desktop d-flex flex-row align-items-end">
        <a class="usa-nav-link" [routerLink]="['/shop/products']">
            <span data-i18n="shop"></span>
        </a>
        <a class="usa-nav-link" [routerLink]="['/shop/orders']">
            <span data-i18n="orders"></span>
        </a>
        <a class="usa-nav-link" [routerLink]="['/shop/budget']">
            <span data-i18n="budget"></span>
        </a>
        <a class="usa-nav-link" [routerLink]="['/shop/cart']">
            <cart-counter></cart-counter>
        </a>
    </div>
    <ul class="content-header-mobile usa-sidenav-list">
        <li>
            <a [routerLink]="['/shop/products']" routerLinkActive="usa-current" (click)="closeMenu()">
                <span data-i18n="shop"></span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/orders']" routerLinkActive="usa-current" (click)="closeMenu()">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <span data-i18n="orders"></span>
                    <button
                         class="order-toggle"
                         [ngClass]="{'drawer-closed': !isOrdersExpanded, 'drawer-open': isOrdersExpanded}"
                         (click)="toggleOrdersDrawer($event)">
                        <span class="sr-only" data-i18n="toggleOrderGroups"></span>
                    </button>
                </div>
            </a>
            <ul *ngIf="isOrdersExpanded" class="usa-sidenav-sub_list">
                <li *ngFor="let group of groupedOrders">
                    <a [routerLink]="['/shop/orders', { key: group.key }]" (click)="closeMenu()">
                        <span [attr.data-i18n]="group.key"></span>
                    </a>
                    <ul class="usa-sidenav-sub_list">
                        <li *ngFor="let order of group.orders">
                            <a [routerLink]="['/shop/orders', order.orderId]" (click)="closeMenu()">
                                {{order.dateCreated | date: 'M/d/yy' }} ({{order.totalCost | currency:'USD':true }})
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/shop/budget']" routerLinkActive="usa-current" (click)="closeMenu()">
                <span data-i18n="budget"></span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/cart']" routerLinkActive="usa-current" (click)="closeMenu()">
                <cart-counter isFlex="true"></cart-counter>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" (click)="logout()">
                <span data-i18n="logout"></span>
            </a>
        </li>
    </ul>
</content-header>
