$color-white: white;
$color-black: black;
$color-near-black: #323435;
$color-grey-dark: #999999;
$color-grey-mid: #e7e7e7;
$color-grey-light: #f0f0f0;
$color-blue-light: #68afd0;
$color-blue-mid: #0074be;
$color-blue-dark: #0071bc;
$color-orange: #cc6600;
