@import "../../../shared/scss/_variables";

:host-context {
    /* styles should be scoped under host-context */
    .cart-container {
        position: relative;

        .icon {
            display: inline-block;

            width: 26px;
            height: 22px;
            margin-bottom: -2px;

            background-image: url("img/cart.png");
            background-size: 26px 22px;
        }

        .count {
            position: absolute;
            top: -18px;
            right: -6px;

            padding: 1px 5px;
            border-radius: 3px;

            color: $color-white;
            background-color: $color-blue-dark;
        }


        &.flex-cart {
            
            .icon {
                margin-right: 6px;
            }

            .count {
                top: -10px;
                right: 0px;
            }
        }
    }

    .flex-spacer {
        flex: 1 1 auto;
    }
}
