<div *ngIf="!isSmall" class="root-large">
     <div *ngIf="layout.isCompareAvailable" class="compare">
        <input type="checkbox" name="compare" [id]="'compare' + product.productId" [(ngModel)]="isCompareChecked" (change)="onCompareChange()">
        <label [for]="'compare' + product.productId" data-i18n="compare" class="label"></label>
    </div>
    <a class="product-link" [routerLink]="[layout.routeItem, product.productId]">
        <div class="d-flex flex-row">
            <img [attr.alt]="product.name" *ngIf="primaryImage" [src]="primaryImage" class="thumbnail-large"/>
        </div>
        <div class="info">
            <h5 class="truncating name">{{product.name}}</h5>
            <h5 class="truncating">{{product.unitPrice | currency:'USD':true }}</h5>
        </div>
    </a>
</div>
<a *ngIf="isSmall" class="product-link" [routerLink]="[layout.routeItem, product.productId]">
    <div class="root-small d-flex flex-row">
        <div class="thumb-container thumbnail-small">
            <img [attr.alt]="product.name" *ngIf="primaryImage" [src]="primaryImage" />
        </div>
        <div class="category">
            <div class="width-shim d-flex flex-column justify-content-center ">
                <div class="truncating">{{product.name}}</div>
                <div class="type-label">{{product.category}}</div>
            </div>
        </div>
    </div>
</a>
