<div class="chart-container container mt-5">
    <div class="row">
        <div class="col-md-3 alerts">
            <div class="alert-head">
                <b data-i18n="alerts"></b>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="alertNotImplemented()" data-i18n="userAboveBudget"></a>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="alertNotImplemented()" data-i18n="itemDelayed"></a>
            </div>
            <div>
                <span data-i18n="contractThreshold"></span>
            </div>
            <div>
                <span data-i18n="contractExpiring"></span>
            </div>
            <div>
                <span data-i18n="contractAutorenew"></span>
            </div>
        </div>
        <div class="col-md-9 charts">
            <div class="container chartBase expenditureChart">
                <div class="toolBar row">
                    <div class="col-md-4 selection"><button class="filterData" (click)="alertNotImplemented()" data-i18n="expenditureByYear"></button></div>
                    <div class="col-md-8 text-right key">
                        <span *ngFor="let dYear of dataYears">{{dYear}}</span>
                    </div>
                </div>
                <div class="expenditureChartContainer"></div>
            </div>
            <div class="container chartBase categoryChart">
                <div class="toolBar row">
                    <div class="col-md-4 selection"><button class="filterData" (click)="alertNotImplemented()" data-i18n="breakdownByCategory"></button></div>
                    <div class="col-md-8"></div>
                </div>
                <div class="categoryChartContainer"></div>
            </div>
        </div>
    </div>
</div>

<table>
    <thead>
    <th>contractId</th>
    <th data-i18n="contractNumber"></th>
    <th data-i18n="contractorName"></th>
    <th data-i18n="effectiveDate"></th>
    </thead>
    <tr *ngFor="let contract of contracts">
        <td>{{contract.contractId}}</td>
        <td>{{contract.contractNumber}}</td>
        <td>{{contract.contractorName}}</td>
        <td>{{contract.effectiveDate}}</td>
    </tr>
</table>

<table>
    <thead>
    <th>expenditureId</th>
    <th>year</th>
    <th>month</th>
    <th>contractId</th>
    <th>contractorName</th>
    <th>contractNumber</th>
    <th>effectiveDate</th>
    <th>expenditure</th>
    </thead>
    <tr *ngFor="let expenditure of expenditures">
        <td>{{expenditure.expenditureId}}</td>
        <td>{{expenditure.year}}</td>
        <td>{{expenditure.month}}</td>
        <td>{{expenditure.contractId}}</td>
        <td>{{expenditure.contractorName}}</td>
        <td>{{expenditure.contractNumber}}</td>
        <td>{{expenditure.effectiveDate}}</td>
        <td>{{expenditure.expenditure}}</td>
    </tr>
</table>
