<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.9.0">
      <maxConcurrentPerNode>1</maxConcurrentPerNode>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList">
        <string>GitPushBuild</string>
        <string>SitDeploy</string>
      </categories>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>category</throttleOption>
      <limitOneJobWithMatchingParams>true</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <jenkins.triggers.ReverseBuildTrigger>
          <spec></spec>
          <upstreamProjects>0_InvokeDeploy</upstreamProjects>
          <threshold>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>BLUE</color>
            <completeBuild>true</completeBuild>
          </threshold>
        </jenkins.triggers.ReverseBuildTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.27">
    <script>build &apos;1_Build_Application&apos;
build &apos;2_Test_Code&apos;


try{
    build &apos;3.4_Test_UI&apos;
}
catch( error )
{
    echo &quot;Retrying&quot;
    try
    {
        build &apos;3.4_Test_UI&apos;
    }
    catch ( e )
    {
        echo &quot;UI tests skipped... Linux acting up.&quot;
    }
}

build &apos;4_Gather_Reports&apos;
build &apos;5_Build_DockerImage&apos;
build &apos;6_Deploy_DockerImage&apos;</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>