<div class="container">
    <div class="row row-margin">
        <div class="col-md-3 col-left">
            <aside>
                <ul class="usa-sidenav-list">
                    <li  *ngFor="let group of groupedOrders">
                        <a href="javascript:void(0)" [class.usa-current]="currentGroup === group.key" (click)="currentGroup = group.key">
                            <span [attr.data-i18n]="group.key"></span>
                        </a>
                        <ul *ngIf="group.key == currentGroup" class="usa-sidenav-sub_list">
                            <li *ngFor="let order of group.orders">
                                <a href="javascript:void(0)" [class.order-current]="currentOrder === order" (click)="selectOrder(order)">
                                    {{order.dateCreated | date: 'M/d/yy' }} ({{order.totalCost | currency:'USD':true }})
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            <div class="row">
                <table>
                    <thead>
                        <th data-i18n="product"></th>
                        <th class="status-column" data-i18n="status"></th>
                        <th class="price-column" data-i18n="price"></th>
                        <th class="quantity-column" data-i18n="quantityAbbreviated"></th>
                        <th class="subtotal-column" data-i18n="subTotal"></th>
                    </thead>
                    <tr *ngFor="let item of currentOrder?.orderItems">
                        <td>
                            <div class="d-flex flex-row align-items-center">
                                <img *ngIf="item.image" [src]="item.image" class="item-image"/>
                                <div>
                                    <div class="name">{{item.name}}</div>
                                    <div class="details">
                                        <span class="colon" data-i18n="contract"></span>
                                        <span class="field-value">{{item.contractNum}}</span>
                                    </div>
                                    <div class="details">
                                        <span class="colon" data-i18n="vendor"></span>
                                        <span class="field-value">{{item.contractor}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="status-column">
                            <div [attr.data-i18n]="item.status"></div>
                            <a href="javascript:void(0)" class="tracking-info" data-i18n="trackingInfo" (click)="trackOrderItem(item)"></a>
                            <div *ngIf="item.estimatedDelivery">
                                <span data-i18n="estimatedDelivery"></span>
                                <span>: {{item.estimatedDelivery | date: 'M/d/yy'}}</span>
                            </div>
                        </td>
                        <td class="price-column">{{item.unitPrice | currency:'USD':true}}</td>
                        <td class="quantity-column">{{item.quantity}}</td>
                        <td class="subtotal-column">{{item.subTotal | currency:'USD':true}}</td>
                    </tr>
                </table>
                <div class="full-width d-flex flex-column align-items-end">
                    <div class="d-flex flex-row justify-content-end">
                        <button class="cancel-order"
                                [attr.disabled]="currentOrder?.status !== 'PROCESSING' ? true : null"
                                [class.order-disabled]="currentOrder?.status !== 'PROCESSING'"
                                data-i18n="cancelOrder"
                                (click)="cancelOrder(currentOrder)">
                        </button>
                        <div class="subtotal-column">
                            <div class="heavy-font" data-i18n="total"></div>
                            <div class="">{{currentOrder?.totalCost}}</div>
                        </div>
                    </div>
                    <div class="cancel-hint d-flex flex-row">
                        <div class="asterisk">*</div>
                        <div class="hint" data-i18n="cancelHint"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
